table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
    
}

.table-container {
    overflow: auto;
}

th,
td {
    padding: 10px;
    border-bottom: 1px solid black;
    text-align: left;
   
}

.test {
    outline: 1px solid #000;
    background-color: white;
    top: 0;
    right: -1px;
    position: sticky;
    z-index: 1; 
}

.test:before {
    content: '';
    position: absolute;
    top: 0;
    left: -10px;
    width: 10px;
    height: 100%;
    display: block;
    background: rgba(0, 0, 0, 0.2);
    background: linear-gradient(-90deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 100%);
}

.buttons {
    display: flex;
    gap: 5px;
}

.button {
    padding: 5px;
}

@media (max-width: 500px) {
        .buttons {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        .button {
            padding: 10px;
        }
    
  }